
<!-- Scrollbar Custom CSS -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
  
    <div class="sidebar-sticky">
      <div class="sidebar-header">
        <img src="/assets/logo.png" class="img-fluid d-none d-md-block" alt="HRMS">
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-bookmark"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item active has-sub-menu">
        <a class="nav-link" href="<%= employees_path %>">
          <i class="la la-users"></i>
          <span>Employees</span>
        </a>
        <i class="la la-angle-right sub-menu-click"></i>

        <div class="sub-menu">
          <ul class="list-unstyled">
            <li><a href="<%= onboard_onboard_path %>">Onboard</a></li>
            <li><a href="">Offboard</a></li>
            <li><a href="<%= attendance_index_path %>">Attendance</a></li>
            </ul>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= leaves_path %>">
            <i class="la la-clock-o"></i>
            <span>Leaves</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-list-alt"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
           <i class="la la-money"></i>
            <span>Payroll</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= add_documents_add_documents_path %>">
            <i class="la la-file-text-o"></i>
            <span>Documents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-certificate"></i>
            <span>Appraisal</span>
          </a>
        </li>
      
        <li class="nav-item">
        <a class="nav-link" href="<%= org_chart_org_chart_path %>">
        <i class="la la-sitemap"></i>
            <span>Organisation List</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <ul class="list-inline">
          <li class="list-inline-item">
                            <a href="<%= profile_profile_path %>">
                             <img class="img-avatar" src="/assets/person.jpg">
                            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Notifications"><i class="la la-bell"></i>
                <span class="badge-pulse pulse-warning"></span>
            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Settings"><i class="la la-gear"></i>
              </a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#" title="Log Out"><i class="la la-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content  -->
  <div id="content">

    <!-- Dashboard -->
    <div class="dashboard">




<!------------------------------ Employee Search ------------------------------------------>
<div class="page-wrapper">
            <div class="page-header">
                <div class="row">
              <div class="col-md-9">
                  <h2>Employees</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employees List</li>
                  </ol>
                </nav>
             </div>
              <div class="col-md-3">
                <!-- Button trigger modal -->
                <a class="btn btn-default pull-right" href="<%= onboard_onboard_path %>">
                  Onboard Employee
                </a>
              </div>
            </div>
             </div>

 <div class="filter-employees">
             <div class="row">
              <div class="col-sm-12">
                <h4 class="section-title">Search Employees</h4>
              </div>
               <div class="col-sm-4">
                 <input type="search" class="form-control" placeholder="Enter Keyword">
              </div>
              <div class="col-sm-4">
                 <select class="selectpicker form-control" title="Department" data-live-search="true">
                      <option data-tokens="IT">Information Technology</option>
                      <option data-tokens="Finance">Finance</option>
                      <option data-tokens="Human Resource">Human Resource</option>
                    </select>
              </div>
               <div class="col-sm-4">
                 <input type="text" class="form-control" placeholder="Work Location">
              </div>
             </div>
             

             </div>

          <div class="row">
            

              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person3.jpg">
                  </div>
                    <div class="card-body">
                      <div class="options">
                                <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="la la-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-arrow" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Profile</a>
                              <a class="dropdown-item" href="#">Team</a>
                            </div>
                          </div>
                      </div>
              

                      <h4 class="card-title">Shahil Mohammed</h4>
                      <p class="card-text">Senior Software Engineer</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-994-560-9605</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>shahil@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Mangalore</span>
                    </div>
              </div>
              </div>

              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person.jpg">
                  </div>
                    <div class="card-body">
                      <h4 class="card-title">Anjana Raveendran</h4>
                      <p class="card-text">Programmer Analyist</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-995-125-8590</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>anjana@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Bangalore</span>
                    </div>
              </div>
              </div>


              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person4.jpg">
                  </div>
                    <div class="card-body">
                      <h4 class="card-title">Ranjith Jogi</h4>
                      <p class="card-text">Technical Head</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-897-114-9551</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>ranjith@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Bangalore</span>
                    </div>
              </div>
              </div>


              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person3.jpg">
                  </div>
                    <div class="card-body">
                       <div class="options">
                                <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="la la-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-arrow" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Profile</a>
                              <a class="dropdown-item" href="#">Team</a>
                            </div>
                          </div>
                      </div>
              
                      <h4 class="card-title">James Mathew</h4>
                      <p class="card-text">Software Engineer</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-586-560-8598</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>james@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Mangalore</span>
                    </div>
              </div>
              </div>


              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person2.jpg">
                  </div>
                    <div class="card-body">
                      <h4 class="card-title">Chris Kelvin</h4>
                      <p class="card-text">Assosiate Team Lead</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-748-560-6622</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>chris@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Mangalore</span>
                    </div>
              </div>
              </div>



              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person.jpg">
                  </div>
                    <div class="card-body">
                       <div class="options">
                                <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="la la-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-arrow" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Profile</a>
                              <a class="dropdown-item" href="#">Team</a>
                            </div>
                          </div>
                      </div>
              
                      <h4 class="card-title">Ashley Montana</h4>
                      <p class="card-text">HR Lead</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-589-560-9605</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>ashley@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Hydrabad</span>
                    </div>
              </div>
              </div>


              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person3.jpg">
                  </div>
                    <div class="card-body">
                      <h4 class="card-title">Mellisa Mark</h4>
                      <p class="card-text">Junior Software Engineer</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-994-560-9605</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>shahil@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Mangalore</span>
                    </div>
              </div>
              </div>


              <div class="col-md-3">
              <div class="card employee-card">
                  <div class="card-header">
                    <img class="card-img-top rounded-circle" src="assets/person.jpg">
                  </div>
                    <div class="card-body">
                      <h4 class="card-title">Shahil Mohammed</h4>
                      <p class="card-text">Senior Software Engineer</p>
                      <span class="d-block"><i class="la la-phone"></i>+91-994-560-9605</span>
                      <span class="d-block"><i class="la la-envelope-o"></i>shahil@folkslogic.com</span>
                       <span class="d-block"><i class="la la-map-marker"></i>Mangalore</span>
                    </div>
              </div>
              </div>
          </div>





</div>

  </div>
</div>
