
<!-- Scrollbar Custom CSS -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
  
    <div class="sidebar-sticky">
      <div class="sidebar-header">
        <img src="/assets/logo.png" class="img-fluid d-none d-md-block" alt="HRMS">
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-bookmark"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item has-sub-menu">
        <a class="nav-link" href="<%= employees_path %>">
          <i class="la la-users"></i>
          <span>Employees</span>
        </a>
        <i class="la la-angle-right sub-menu-click"></i>

        <div class="sub-menu">
          <ul class="list-unstyled">
            <li><a href="<%= onboard_onboard_path %>">Onboard</a></li>
            <li><a href="">Offboard</a></li>
            <li><a href="<%= attendance_index_path %>">Attendance</a></li>
            </ul>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= leaves_path %>">
            <i class="la la-clock-o"></i>
            <span>Leaves</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-list-alt"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
           <i class="la la-money"></i>
            <span>Payroll</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= add_documents_add_documents_path %>">
            <i class="la la-file-text-o"></i>
            <span>Documents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-certificate"></i>
            <span>Appraisal</span>
          </a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="<%= org_chart_org_chart_path %>">
        <i class="la la-sitemap"></i>
            <span>Organisation List</span>
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <ul class="list-inline">
          <li class="list-inline-item">
                            <a href="<%= profile_profile_path %>">
                             <img class="img-avatar" src="/assets/person.jpg">
                            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Notifications"><i class="la la-bell"></i>
                <span class="badge-pulse pulse-warning"></span>
            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Settings"><i class="la la-gear"></i>
              </a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#" title="Log Out"><i class="la la-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content  -->
  <div id="content">

    <!-- Dashboard -->
    <div class="dashboard">





<div class="page-wrapper">
            <div class="page-header">
                <div class="row">
              <div class="col-md-9">
                  <h2>Organisation List</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Org List</li>
                  </ol>
                </nav>
             </div>
              <div class="col-md-3">
               <a class="btn btn-default pull-right" href="<%= onboard_onboard_path %>">
                  <i class="la la-pencil"></i> Edit Profile
               </a>
             
              </div>
            </div>
             </div>

 

          <div class="row">

            <div class="col-sm-12">
     

            <div id="tree"></div>





            
          </div>





    </div>





</div>

</div>



<script type="text/javascript">
  
window.onload = function () {
  //OrgChart.templates.ana.img_0 = '<image preserveAspectRatio="xMidYMid slice" xlink:href="{val}" x="20" y="-10" width="80" height="80"></image>';
  OrgChart.templates.ana.field_0 = '<text class="field_0" x="75" y="100" style="font-size: 22px;" text-anchor="middle">{val}</text>';
  //OrgChart.templates.ana.field_1 = '<text class="field_1"  style="font-size: 12px;" x="200" y="50" text-anchor="middle">{val}</text>';

  var chart = new OrgChart(document.getElementById("tree"), {
      scaleInitial: BALKANGraph.match.boundary,
      enableDragDrop: false,
      enablePrint: true,
      enableSearch: false,
      mouseScroolBehaviour: BALKANGraph.action.zoom,
      nodeBinding: {
          field_0: "name",
          field_1: "title",
          img_0: "img"
      },
      nodes: [
          { id: 1, name: "Denny Curtis", title: "CEO", img: "https://balkangraph.com/js/img/2.jpg" },

          { id: 2, pid: 1, name: "Ashley Barnett", title: "Sales Manager", img: "https://balkangraph.com/js/img/3.jpg" },
          { id: 3, pid: 1, name: "Caden Ellison", title: "Dev Manager", img: "https://balkangraph.com/js/img/4.jpg" },
          { id: 4, pid: 2, name: "Caden Ellison", title: "Dev Manager", img: "https://balkangraph.com/js/img/4.jpg" },

          { id: 4, pid: 2, name: "Elliot Patel", title: "Sales", img: "https://balkangraph.com/js/img/5.jpg" },
          { id: 5, pid: 3, name: "Lynn Hussain", title: "Sales", img: "https://balkangraph.com/js/img/6.jpg" },

          { id: 6, pid: 2, name: "Ashley Barnett", title: "Sales Manager", img: "https://balkangraph.com/js/img/3.jpg" },
          { id: 7, pid: 3, name: "Caden Ellison", title: "Dev Manager", img: "https://balkangraph.com/js/img/4.jpg" },

          { id: 8, pid: 6, name: "Tanner May", title: "Developer", img: "https://balkangraph.com/js/img/7.jpg" },
          { id: 9, pid: 6, name: "Fran Parsons", title: "Developer", img: "https://balkangraph.com/js/img/8.jpg" },
          { id: 10, pid: 7, name: "Rudy Griffiths", title: "Assistant", img: "https://balkangraph.com/js/img/9.jpg" },
          { id: 11, pid: 7, name: "Skyler Hunt", title: "Assistant", img: "https://balkangraph.com/js/img/12.jpg" },
          { id: 12, pid: 10, name: "Elliot Patel", title: "Sales", img: "https://balkangraph.com/js/img/5.jpg" },
          { id: 13, pid: 10, name: "Lynn Hussain", title: "Sales", img: "https://balkangraph.com/js/img/6.jpg" },
          { id: 14, pid: 10, name: "Elliot Patel", title: "Sales", img: "https://balkangraph.com/js/img/5.jpg" },
          { id: 15, pid: 10, name: "Lynn Hussain", title: "Sales", img: "https://balkangraph.com/js/img/6.jpg" }
      ]
  });
};
          
 
  </script>     