
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
  
    <div class="sidebar-sticky">
      <div class="sidebar-header">
        <img src="/assets/logo.png" class="img-fluid d-none d-md-block" alt="HRMS">
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-bookmark"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item has-sub-menu">
        <a class="nav-link" href="<%= employees_path %>">
          <i class="la la-users"></i>
          <span>Employees</span>
        </a>
        <i class="la la-angle-right sub-menu-click"></i>

        <div class="sub-menu">
          <ul class="list-unstyled">
            <li><a class="active" href="<%= onboard_onboard_path %>">Onboard</a></li>
            <li><a href="">Offboard</a></li>
            <li><a href="<%= attendance_index_path %>">Attendance</a></li>
            </ul>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= leaves_path %>">
            <i class="la la-clock-o"></i>
            <span>Leaves</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-list-alt"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
           <i class="la la-money"></i>
            <span>Payroll</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= add_documents_add_documents_path %>">
            <i class="la la-file-text-o"></i>
            <span>Documents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-certificate"></i>
            <span>Appraisal</span>
          </a>
        </li>
        
        <li class="nav-item">
        <a class="nav-link" href="<%= org_chart_org_chart_path %>"><i class="la la-sitemap"></i>
            <span>Organisation List</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <ul class="list-inline">
         <li class="list-inline-item">
                            <a href="<%= profile_profile_path %>">
                             <img class="img-avatar" src="/assets/person.jpg">
                            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Notifications"><i class="la la-bell"></i>
                <span class="badge-pulse pulse-warning"></span>
            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Settings"><i class="la la-gear"></i>
              </a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#" title="Log Out"><i class="la la-sign-out"></i></a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content  -->
  <div id="content">

    <!-- Dashboard -->
    <div class="dashboard">




<!------------------------------ Employee Profile Edit/Add ------------------------------------------>

<div class="page-wrapper">
            <div class="page-header">
                <div class="row">
              <div class="col-md-9">
                  <h2>Documents</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Documents</li>
                  </ol>
                </nav>
             </div>
              <div class="col-md-3">
             
              <a class="btn btn-default pull-right" href="#AddDoc" data-toggle="modal" data-target="#AddDoc">
                  &nbsp; Add &nbsp;
                </a>
             
              </div>
            </div>
             </div>

 

          <div class="row">

            <div class="col-sm-12">
            <div class="custom-tabs mt-4">
                    <ul class="nav nav-tabs" id="" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link text-uppercase active show" data-toggle="tab" href="#doc-personal"><i class="la la-user"></i> Personal (02)</a>
                      </li>
                <li class="nav-item">
                        <a class="nav-link text-uppercase"  data-toggle="tab" href="#doc-company" role="tab" aria-controls="" aria-selected="false"><i class="la la-building"></i> Company (18)</a>
                      </li>
               
 
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade active show" id="doc-personal">
                         <div class="row">
                             <div class="col-md-3">
                                <div class="card documents-card">
                                      <div class="card-header">
                                      <i class="la la-certificate"></i>
                                      </div>
                                      <div class="card-body">
                                        <a href="" class="card-title d-block">Offer Letter</a>
                                      </div>

                                      <div class="card-footer">
                                      <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                      </ul>

                                </div>
                              </div>
                            </div>
                              <div class="col-md-3">
                                <div class="card documents-card">
                                      <div class="card-header">
                                      <i class="la la-file-text-o"></i>
                                      </div>
                                      <div class="card-body">
                                        <a href="" class="card-title d-block">Confirmation Letter</a>
                                      </div>

                                      <div class="card-footer">
                                      <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                </div>
                              </div>                            
                             </div>
                          </div>   
                       </div>
                        <div class="tab-pane fade" id="doc-company">
                        <div class="row">
                        <div class="col-md-3">
                           <div class="card documents-card">
                                 <div class="card-header">
                                   <i class="la la-file-image-o"></i>
                                 </div>
                                 <div class="card-body">
                                 <label class="badge badge-primary">Business</label>
                                   <a href="" class="card-title d-block">Folkslogic Terms & Conditions</a>
                                 </div>

                                 <div class="card-footer">
                                 <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                 </div>
                           </div>
                         </div>

                         <div class="col-md-3">
                           <div class="card documents-card">
                                 <div class="card-header">
                                 <i class="la la-file-text-o"></i>
                                 </div>
                                 <div class="card-body">
                                 <label class="badge badge-primary">Company</label>
                                   <a href="" class="card-title d-block">Policy</a>
                                 </div>

                                 <div class="card-footer">
                                 <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                 </div>
                           </div>
                         </div>

                         <div class="col-md-3">
                           <div class="card documents-card">
                                 <div class="card-header">
                                   <i class="la la-file-image-o"></i>
                                 </div>
                                 <div class="card-body">
                                 <label class="badge badge-primary">Employee</label>
                                   <a href="" class="card-title d-block">Expence Policy</a>
                                 </div>

                                 <div class="card-footer">
                                 <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                 </div>
                           </div>
                         </div>

                         <div class="col-md-3">
                           <div class="card documents-card">
                                 <div class="card-header">
                                   <i class="la la-file-image-o"></i>
                                 </div>
                                 <div class="card-body">
                                 <label class="badge badge-primary">Business</label>
                                   <a href="" class="card-title d-block">Folkslogic Terms & Conditions</a>
                                 </div>

                                 <div class="card-footer">
                                 <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                 </div>
                           </div>
                         </div>

                         <div class="col-md-3">
                           <div class="card documents-card">
                                 <div class="card-header">
                                   <i class="la la-file-image-o"></i>
                                 </div>
                                 <div class="card-body">
                                 <label class="badge badge-primary">Company</label>
                                   <a href="" class="card-title d-block">Policy</a>
                                 </div>

                                 <div class="card-footer">
                                 <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                 </div>
                           </div>
                         </div>

                         <div class="col-md-3">
                           <div class="card documents-card">
                                 <div class="card-header">
                                 <i class="la la-file-excel-o"></i>
                                 </div>
                                 <div class="card-body">
                                 <label class="badge badge-primary">Employee</label>
                                   <a href="" class="card-title d-block">Expence Policy</a>
                                 </div>

                                 <div class="card-footer">
                                 <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                        <span class=""><i class="la la-comments"></i>
                                        10/10/2016</span>
                                        </li>
                                        <li class="list-inline-item">
                                        <a href="" class="download"><i class="la la-download"></i></a>
                                        </li>
                                        <li class="pull-right">
                                        <span class=""><i class="la la-user"></i>
                                       Sofie James</span>
                                        </li>
                                 </div>
                           </div>
                         </div>
                        </div>

                     
                      </div>
                       
                    </div>
                  </div>
                  </div>
                </div>


            
          </div>





    </div>
    <!-- Document Modal -->
    <div class="modal fade" id="AddDoc" tabindex="-1" role="dialog" aria-labelledby="ApplyLeave" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Document</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="la la-times"></i>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                 <div class="col-sm-6">
                  <div class="form-group">
                    <label>Document Title</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                 <div class="col-sm-6">
                  <div class="form-group">
                    <label>Tags</label>
                    <select class="selectpicker form-control" title="Choose" data-live-search="true" tabindex="-98"><option class="bs-title-option" value="">Department</option>
                      <option>Business</option>
                      <option>Management</option>
                      <option>Rules</option>
                    </select>
                  </div>
                </div>
              

                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Files</label>

                       <div class="input-group file-upload">
                          <label class="input-group-btn">
                              <span class="btn btn-light">
                                   <i class="la la-cloud-upload"></i> Upload <input type="file" style="display: none;" multiple>
                              </span>
                          </label>
                          <input type="text" class="form-control" readonly>
                      </div>
                      <em class="help-block">Upload multiple documents if any</em>

                  </div>
                </div>
                
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>
