
    <!-- line-icons -->

    <div class="wrapper">
      <!-- Sidebar  -->
   <nav id="sidebar">
  
    <div class="sidebar-sticky">
      <div class="sidebar-header">
        <img src="/assets/logo.png" class="img-fluid d-none d-md-block" alt="HRMS">
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-bookmark"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item has-sub-menu">
        <a class="nav-link" href="<%= employees_path %>">
          <i class="la la-users"></i>
          <span>Employees</span>
        </a>
        <i class="la la-angle-right sub-menu-click"></i>

        <div class="sub-menu">
          <ul class="list-unstyled">
            <li><a class="active" href="<%= onboard_onboard_path %>">Onboard</a></li>
            <li><a href="">Offboard</a></li>
            <li><a href="<%= attendance_index_path %>">Attendance</a></li>
            </ul>
        </div>
      </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= leaves_path %>">
            <i class="la la-clock-o"></i>
            <span>Leaves</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-list-alt"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
           <i class="la la-money"></i>
            <span>Payroll</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= add_documents_add_documents_path %>">
            <i class="la la-file-text-o"></i>
            <span>Documents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-certificate"></i>
            <span>Appraisal</span>
          </a>
        </li>
   
        <li class="nav-item">
        <a class="nav-link" href="<%= org_chart_org_chart_path %>">
        <i class="la la-sitemap"></i>
            <span>Organisation List</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <ul class="list-inline">
          <li class="list-inline-item">
                            <a href="<%= profile_profile_path %>">
                             <img class="img-avatar" src="/assets/person.jpg">
                            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Notifications"><i class="la la-bell"></i>
                <span class="badge-pulse pulse-warning"></span>
            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Settings"><i class="la la-gear"></i>
              </a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#" title="Log Out"><i class="la la-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <!-- Page Content  -->
      <div id="content">
   
        <!-- Dashboard -->
        <div class="dashboard">
          <div class="page-wrapper leave-management">
            <div class="page-header">
                <div class="row">
              <div class="col-md-9">
                  <h2>Leaves</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Leaves</li>
                  </ol>
                </nav>
             </div>
              <div class="col-md-3">
                <!-- Button trigger modal -->
                <a class="btn btn-default pull-right" href="" data-toggle="modal" data-target="#ApplyLeave">
                  Apply Leave
                </a>
              </div>
            </div>
             </div>
            <div class="row">
              <div class="col-sm-9">
                <h4 class="section-title">Regular Leaves</h4>
                <div class="row">
                  <div class="col-sm-6 col-md-3">
                    <div class="total-leave annual">
                      <h3>Annual Leave</h3>
                      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                      <div id="piechart" style="height:140px;"></div>
                      <ul class="list-inline chart-dots mb-0">
                        <li class="list-inline-item"><i class="chart-casual"></i> Casual</li>
                        <li class="list-inline-item"><i class="chart-sick"></i> Sick</li>
                        <li class="list-inline-item"><i class="chart-compoff"></i> Holiday</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="total-leave casual">
                      <h3>Casual Leave</h3>
                       <div class="leave-count" data-percent="80">8/10</div>
                       <a href="#" class="small">Explain <i class="la la-angle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="total-leave sick">
                      <h3>Sick Leave</h3>
                      <div class="leave-count" data-percent="30">3/10</div>
                      <a href="#" class="small">Explain <i class="la la-angle-right"></i></a>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <div class="total-leave special">
                      <h3>Special Leave</h3>
                      <a href="" class="d-block"><i class="la la-male"></i> Paternity</a>
                      <a href="" class="d-block"><i class="la la-user"></i> Berevement</a>
                      <a href="" class="d-block"><i class="la la-briefcase"></i> Comp Off</a>
                      <a href="" class="d-block"><i class="la la-female"></i> Maternity</a>
                      <a href="" class="d-block"><i class="la la-briefcase"></i> Unpaid Leve</a>
                    </div>
                  </div>
                </div>
                


                <div class="row">
                  <div class="col-sm-12">

                    <div class="custom-tabs mt-4">
                    <ul class="nav nav-tabs" id="leaveTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#upcoming-leaves" role="tab" aria-controls="home" aria-selected="true">Upcoming Leaves</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase" id="profile-tab" data-toggle="tab" href="#previous-leaves" role="tab" aria-controls="profile" aria-selected="false">Previous Leaves</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="leaveTab">
                      <div class="tab-pane fade show active" id="upcoming-leaves" role="tabpanel" aria-labelledby="upcoming-leaves">
                      <div class="table-responsive">
                      <table class="table upcomming-leaves">
                        <tr>
                          <th>1 Day</th>
                          <th>Leave Type</th>
                          <th>Approved By</th>
                          <th>Status</th>
                          <th>Comments</th>
                        </tr>
                        <tr>
                          <td>07 Oct 2018</td>
                          <td>Casual</td>
                          <td>Jhon</td>
                          <td><span class="badge badge-success">Approved</span></td>
                          <td>Wedding</td>
                        </tr>
                      </table>
                      <table class="table upcomming-leaves">
                        <tr>
                          <th>1 Day</th>
                          <th>Leave Type</th>
                          <th>Approved By</th>
                          <th>Status</th>
                          <th>Comments</th>
                        </tr>
                        <tr>
                          <td>11 Sep 2018</td>
                          <td>Sick</td>
                          <td>Jhon</td>
                          <td><span class="badge badge-danger">Cancelled</span></td>
                          <td>Wedding</td>
                        </tr>
                      </table>
                      <table class="table upcomming-leaves">
                        <tr>
                          <th>1 Day</th>
                          <th>Leave Type</th>
                          <th>Approved By</th>
                          <th>Status</th>
                          <th>Comments</th>
                        </tr>
                        <tr>
                          <td>07 Oct 2018</td>
                          <td>Sick</td>
                          <td>Jhon</td>
                          <td><span class="badge badge-warning">Pending</span></td>
                          <td>Wedding</td>
                        </tr>
                      </table>
                    </div>
                      </div>
                      <div class="tab-pane fade" id="previous-leaves" role="tabpanel" aria-labelledby="previous-leaves">
                        <div class="table-responsive">
                      <table class="table upcomming-leaves">
                        <tr>
                          <th>2 Day</th>
                          <th>Leave Type</th>
                          <th>Approved By</th>
                          <th width="130">Status</th>
                          <th>Comments</th>
                        </tr>
                        <tr>
                          <td>01 Jan 2018</td>
                          <td>Casual</td>
                          <td>Jhon</td>
                          <td width="130"><span class="badge badge-success">Approved</span></td>
                          <td>Function at home</td>
                        </tr>
                      </table>
                      <table class="table upcomming-leaves">
                        <tr>
                          <th>1 Day</th>
                          <th>Leave Type</th>
                          <th>Approved By</th>
                          <th width="130">Status</th>
                          <th>Comments</th>
                        </tr>
                        <tr>
                          <td>05 Feb 2018</td>
                          <td>Sick</td>
                          <td>Jhon</td>
                          <td width="130"><span class="badge badge-success">Approved</span></td>
                          <td>Pooja</td>
                        </tr>
                      </table>
                      <table class="table upcomming-leaves">
                        <tr>
                          <th>1 Day</th>
                          <th>Leave Type</th>
                          <th>Approved By</th>
                          <th width="130">Status</th>
                          <th>Comments</th>
                        </tr>
                        <tr>
                          <td>29 Oct 2018</td>
                          <td>Sick</td>
                          <td>Jhon</td>
                          <td width="130"><span class="badge badge-success">Approved</span></td>
                          <td>family Trip</td>
                        </tr>
                      </table>
                      </div>
                    </div>
</div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="leave-calnder">
                  <h4 class="section-title">Calander</h4>
                  <div class="wrap">
                     <div id="pb-calendar" class="pb-calendar"></div>
                  <ul class="list-inline leave-dots">
                    <li class="list-inline-item"><i class="dot-casual"></i> Casual</li>
                    <li class="list-inline-item"><i class="dot-sick"></i> Sick</li>
                    <li class="list-inline-item"><i class="dot-holiday"></i> Holiday</li>
                  </ul>
                  </div>
                 
                </div>
                <div class="team-leaves">
                  <h4 class="section-title">Team Leaves</h4>
                  <div class="wrap">
                    <div class="team-mem-leave">
                      <h6><%= image_tag 'person.jpg', :class => 'img-fluid img-avatar' %>
                      Shahil Mohammed</h6>
                      <span><i class="la la-calendar-o"></i> 29 Aprl, 2018</span> -  <span><i class="la la-calendar-o"></i> 30 Aprl, 2018</span>
                      <p><span>2 Days Off</span><span class="divider">|</span><span class="text-primary">Casual Leave</span></p>
                    </div>
                    <div class="team-mem-leave">
                      <h6><%= image_tag 'person.jpg', :class => 'img-fluid img-avatar' %>
                      Anjana Raveendran</h6>
                      <span><i class="la la-calendar-o"></i> 03 Jun, 2018</span> -  <span><i class="la la-calendar-o"></i> 08 Jun, 2018</span>
                      <p><span>2 Days Off</span><span class="divider">|</span><span class="text-danger">Sick Leave</span></p>
                    </div>
                     <div class="team-mem-leave">
                      <h6><%= image_tag 'person.jpg', :class => 'img-fluid img-avatar' %>
                      Ranjith Jogi</h6>
                      <span><i class="la la-calendar-o"></i> 01 Jan, 2018</span> -  <span><i class="la la-calendar-o"></i> 08 Aprl, 2018</span>
                      <p><span>10 Days Off</span><span class="divider">|</span><span class="text-primary">Casual Leave</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //Dashboard -->
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="ApplyLeave" tabindex="-1" role="dialog" aria-labelledby="ApplyLeave" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Apply Leave</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="la la-times"></i>
            </button>
          </div>
          <div class="modal-body">
            <%= form_for @leave do |f| %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>From</label>
                    <input type="text" data-provide='datepicker' class="form-control">
                   <!-- <%= f.date_field :from_date, :class => "form-control"  %> -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>To</label>
                     <input type="text" data-provide='datepicker' class="form-control">
                    <!-- <%= f.date_field :to_date, :class => "form-control"  %> -->
                  </div>
                </div>
                       <div class="col-sm-12">
                  <div class="form-group">
                    <label>Leave Type</label>
                    <select class="selectpicker form-control" title="Choose">
                      <option data-subtext="Available 12">Causual Leave</option>
                      <option data-subtext="Available 5">Sick Leave</option>
                      <option data-subtext="Available 3">Paternity</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Attachments</label>

                       <div class="input-group file-upload">
                          <label class="input-group-btn">
                              <span class="btn btn-light">
                                   <i class="la la-cloud-upload"></i> Upload <input type="file" style="display: none;" multiple>
                              </span>
                          </label>
                          <input type="text" class="form-control" readonly>
                      </div>
                      <em class="help-block">Upload multiple documents if any</em>

                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Message</label>
                    <%= f.text_area :comments, :class => "form-control"  %>
                  </div>
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <%= f.submit "Apply", :class => "btn btn-primary" %>
          </div>

        </div>
        <% end %>
      </div>
    </div>