
<!-- Scrollbar Custom CSS -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
  
    <div class="sidebar-sticky">
      <div class="sidebar-header">
        <img src="/assets/logo.png" class="img-fluid d-none d-md-block" alt="HRMS">
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-bookmark"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="nav-item active has-sub-menu">
          <a class="nav-link" href="<%= employees_path %>">
            <i class="la la-users"></i>
            <span>Employees</span>
          </a>
          <i class="la la-angle-right sub-menu-click"></i>

          <div class="sub-menu">
            <ul class="list-unstyled">
              <li><a href="<%= onboard_onboard_path %>">Onboard</a></li>
              <li><a href="">Offboard</a></li>
              <li><a class="active" href="<%= attendance_index_path %>">Attendance</a></li>
              </ul>
          </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= leaves_path %>">
          <i class="la la-clock-o"></i>
          <span>Leaves</span>
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-list-alt"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
           <i class="la la-money"></i>
            <span>Payroll</span>
          </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= add_documents_add_documents_path %>">
        <i class="la la-file-text-o"></i>
            <span>Documents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-certificate"></i>
            <span>Appraisal</span>
          </a>
        </li>
     
        <li class="nav-item">
        <a class="nav-link" href="<%= org_chart_org_chart_path %>">
        <i class="la la-sitemap"></i>
            <span>Organisation List</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <ul class="list-inline">
          <li class="list-inline-item">
                            <a href="<%= profile_profile_path %>">
                             <img class="img-avatar" src="/assets/person.jpg">
                            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Notifications"><i class="la la-bell"></i>
                <span class="badge-pulse pulse-warning"></span>
            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Settings"><i class="la la-gear"></i>
              </a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#" title="Log Out"><i class="la la-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content  -->
  <div id="content">

    <!-- Dashboard -->
    <div class="dashboard">





<div class="page-wrapper">
            <div class="page-header">
                <div class="row">
              <div class="col-md-9">
                  <h2>Attendance</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Attendance</li>
                  </ol>
                </nav>
             </div>
              <div class="col-md-3">
               
             
              </div>
            </div>
             </div>

             
             <div class="row">
             <div class="card-group">

             <div class="col-sm-3">
                 <div class="card card-x mb-3">
                   <span class="text-muted small text-uppercase">Team Attendance </span>
                   <h3>05 <small>/08</small></h3>
                   <div class="icon text-success">
                     <i class="la la-angle-up"></i> 75%
                   </div>
                 </div>
                 </div>
 
                 <div class="col-sm-3">
                 <div class="card card-x mb-3">
                   <span class="text-muted small text-uppercase">Team Avg. Hours/ Day </span>
                   <h3>06:15 <small>Hrs.</small></h3>
                   <div class="icon text-success">
                     <i class="la la-angle-up"></i> 85%
                   </div>
                 </div>
                 </div>
 
                 <div class="col-sm-3">
                 <div class="card card-x mb-3">
                   <span class="text-muted small text-uppercase">Team on arrival </span>
                   <h3>03 <small>Members</small></h3>
                   <div class="icon text-warning">
                     <i class="la la-angle-down"></i> 15%
                   </div>
                 </div>
                 </div>
 
                 <div class="col-sm-3">
                 <div class="card card-x mb-3">
                 <span class="text-muted small text-uppercase">Team Break </span>
                 <h3>03:18 <small>Hrs.</small></h3>
                 <div class="icon text-danger">
                   <i class="la la-angle-down"></i> 45%
                 </div>
               </div>
               </div>
 
               </div>
             </div>
 
           </div>
  
           

          <div class="row">

          <div class="col-sm-12">
          
          <div class="row">
            <div class="col-sm-3">
              <div class="card card-1 mb-3">
                <span class="text-muted small text-uppercase">Average Hours/ Day </span>
                <h3>06:15 <small>Hrs.</small></h3>
                <div class="icon text-success">
                  <i class="la la-angle-up"></i> 85%
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card card-1 mb-3">

                <span class="text-muted small text-uppercase">On Time Arrival</span>
                <h3>3 <small>This Week</small></h3>
                <div class="icon text-danger">
                  <i class="la la-angle-down"></i> 28%
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card card-1 mb-3">

                <span class="text-muted small text-uppercase">Break Time</span>
                <h3>02:15 <small>Hrs.</small></h3>
                <div class="icon text-warning">
                <i class="la la-smile-o la-2x"></i>
                </div>
              </div>
            </div>
          </div>


         
          <div class="col-sm-12 mt-5">
          <h3 class="section-title">Time Entries.</h3>

          <div class="attendance">
            <div class="att-filter">
                <ul class="list-inline filter-list">
                    <li class="list-inline-item active"><a href="">Last 30 days</a></li>
                    <li class="list-inline-item"><a href="">Jan</a></li>
                    <li class="list-inline-item"><a href="">Feb</a></li>
                    <li class="list-inline-item"><a href="">March</a></li>
                    <li class="list-inline-item"><a href="">April</a></li>
                    <li class="list-inline-item"><a href="">May</a></li>
                    <li class="list-inline-item"><a href="">Jun</a></li>
                </ul>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Date</th>
                        <th width="350">Log</th>
                        <th>Arrival</th>
                        <th>Effective Hrs.</th>
                        <th>Gross Hrs.</th>
                        <th>Active</th>
                    </tr>
                    <tr>
                        <td>Mon, 01/01</td>
                        <td>
                        <span class="at-log">
                          <i data-toggle="tooltip" data-value="2" title="In 09:00 am - Out 10:30 am" class="dot"></i>
                          <i data-toggle="tooltip" data-value="1" title="In 11:15 am - Out 12:15 pm" class="dot"></i>
                          <i data-toggle="tooltip" data-value="4" title="In 01:30 pm - Out 06:30 pm" class="dot"></i>
                          <i data-toggle="tooltip" data-value="1" title="In 06:38 pm - Out 06:45 pm" class="dot"></i>
                          </span>
                        </td>
                        <td><i class="la la-frown-o late-icon"></i> 00:32:05 Late</td>
                        <td><span data-value="6" class="effectivehrs-meter"></span>07.30 hrs.</td>
                        <td>09.00 hrs.</td>
                        <td><a href="" data-toggle="modal" data-target="#AdjustLogs"><i class="la la-pencil"></i> Adjust Log</a></td>
                    </tr>
                    <tr>
                        <td>Tue, 02/01</td>
                        <td> <span class="at-log">
                        <i data-toggle="tooltip" data-value="1" title="In 09:00 am - Out 10:30 am" class="dot"></i>
                        <i data-toggle="tooltip" data-value="1" title="In 11:15 am - Out 12:15 pm" class="dot"></i>
                        <i data-toggle="tooltip" data-value="1" title="In 01:30 pm - Out 06:30 pm" class="dot"></i>
                        <i data-toggle="tooltip" data-value="3" title="In 06:38 pm - Out 06:45 pm" class="dot"></i>
                        </span>
                        </td>
                        <td><i class="la la-smile-o ontime-icon"></i></td>
                        <td><span data-value="10" class="effectivehrs-meter"></span> 04.00 hrs.</td>
                        <td>04.00 hrs.</td>
                        <td><a href="" data-toggle="modal" data-target="#AdjustLogs"><i class="la la-pencil"></i> Adjust Log</a></td>
                    </tr>
                    <tr>
                        <td>Wed, 03/01</td>
                        <td>
                        <span class="at-log">
                        <i data-toggle="tooltip" data-value="1" title="In 09:00 am - Out 10:30 am" class="dot"></i>
                        <i data-toggle="tooltip" data-value="3" title="In 11:15 am - Out 12:15 pm" class="dot"></i>
                        <i data-toggle="tooltip" data-value="3" title="In 01:30 pm - Out 06:30 pm" class="dot"></i>
                        <i data-toggle="tooltip" data-value="3" title="In 06:38 pm - Out 06:45 pm" class="dot"></i>
                        </span>
                        </td>
                        <td><i class="la la-frown-o late-icon"></i> 00:32:05 Late</td>
                        <td><span data-value="6" class="effectivehrs-meter"></span>07.30 hrs.</td>
                        <td>09.00 hrs.</td>
                        <td><a href="" data-toggle="modal" data-target="#AdjustLogs"><i class="la la-pencil"></i> Adjust Log</a></td>
                    </tr>
                    <tr>
                        <td>Thu, 04/01</td>
                        <td>
                        <span class="at-log">
                        <i data-toggle="tooltip" data-value="5" title="In 09:00 am - Out 10:30 am" class="dot"></i>
                        <i data-toggle="tooltip" data-value="2" title="In 11:15 am - Out 12:15 pm" class="dot"></i>
                        <i data-toggle="tooltip" data-value="4" title="In 01:30 pm - Out 06:30 pm" class="dot"></i>
                        <i data-toggle="tooltip" data-value="1" title="In 06:38 pm - Out 06:45 pm" class="dot"></i>
                        </span></td>
                        <td><i class="la la-frown-o late-icon"></i> 00:08:05 Late</td>
                        <td><span data-value="8" class="effectivehrs-meter"></span> 04.00 hrs.</td>
                        <td>04.00 hrs.</td>
                        <td><a href="" data-toggle="modal" data-target="#AdjustLogs"><i class="la la-pencil"></i> Adjust Log</a></td>
                    </tr>
                    <tr>
                        <td>Fri, 05/01</td>
                        <td>
                        <span class="at-log">
                        <i data-toggle="tooltip" data-value="4" title="In 09:00 am - Out 10:30 am" class="dot"></i>
                        <i data-toggle="tooltip" data-value="4" title="In 11:15 am - Out 12:15 pm" class="dot"></i>
                        </span>
                        </td>
                        <td><i class="la la-frown-o late-icon"></i> 01:05:05 Late</td>
                        <td><span data-value="5" class="effectivehrs-meter"></span>07.30 hrs.</td>
                        <td>09.00 hrs.</td>
                        <td><a href="" data-toggle="modal" data-target="#AdjustLogs"><i class="la la-pencil"></i> Adjust Log</a></td>
                    </tr>
                    <tr>
                        <td>Sat, 06/01</td>
                        <td>
                          <span class="at-log">
                          <i data-toggle="tooltip" data-value="8" title="In 09:00 am - Out 06:30 am" class="dot"></i>
                          </span>
                        </td>
                        <td><i class="la la-smile-o ontime-icon"></i></td>
                        <td><span data-value="2" class="effectivehrs-meter"></span> 02.00 hrs.</td>
                        <td>04.00 hrs.</td>
                        <td><a href="" data-toggle="modal" data-target="#AdjustLogs"><i class="la la-pencil"></i> Adjust Log</a></td>
                    </tr>
                    <tr>
                    <td>Sun, 07/01</td>
                    <td colspan="5"><span class="text-center d-block">Week Off</span></td>
                </tr>
                <tr>
                    <td>Mon, 09/01</td>
                    <td colspan="5"><span class="text-center d-block">Leave</span></td>
                </tr>
                </table>
            </div>
          </div>
          </div>


            
          </div>





    </div>





</div>

</div>


<!-- Adjust Logs Modal -->
<div class="modal fade" id="AdjustLogs" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Logs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="la la-times"></i>
        </button>
      </div>
      <div class="modal-body">
      <div class="row">
      <div class="col-sm-6">
      <select class="selectpicker form-control" title="Choose Reason">
            <option>Adjust Entry</option>
            <option>Forgot Access card</option>
          </select>
      </div>
      </div>
          

          <span class="small text-muted mt-4 d-block">Below are the marked log from the bio metric device.</span>
          <div class="row">
             <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control output" value="09:00 am" readonly>
              </div>
            </div>
             <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control output" value="11:00 am" readonly>
              </div>
            </div>
            <div class="col-sm-4">
              <a href=""><i class="la la-trash-o mt-2 text-danger"></i></a>
            </div>
          </div>

          <div class="row">
          <div class="col-sm-4">
           <div class="form-group">
             <input type="text" class="form-control output" value="11:45 am" readonly>
           </div>
         </div>
          <div class="col-sm-4">
           <div class="form-group">
             <input type="text" class="form-control output" value="12:15 pm" readonly>
           </div>
         </div>
         <div class="col-sm-4">
           <a href=""><i class="la la-trash-o mt-2 text-danger"></i></a>
         </div>
       </div>

       <div class="row">
       <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control output" value="02:00 pm" readonly>
        </div>
      </div>
       <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control output" value="04:05 pm" readonly>
        </div>
      </div>
      <div class="col-sm-4">
        <a href=""><i class="la la-trash-o mt-2 text-danger"></i></a>
      </div>
    </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <input type="time" class="form-control">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input type="time" class="form-control">
                </div>
              </div>
              <div class="col-sm-4">
                <a href=""><i class="la la-plus-circle text-primary mt-2"></i>  </a>
              </div>
           </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>

    </div>
  </div>
</div>