<div class="container-fluid">
    <div class="row login-page">
        <div class="col-lg-4 col-sm-12">
            <div class="login-page_box">
                <h2 class="page-title mb-4">Login.</h2>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>


                    <div class="input-group">
                      <i class="la la-user"></i>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email / Employee ID" %>
                    </div>

                    <div class="input-group">
                      <i class="la la-lock"></i>
                      <%= f.password_field :password, autocomplete: "current-password", :placeholder => "Password" %>
                    </div>

                    <button class="btn btn-primary" type="submit">Login<i class="la la-angle-right"></i> </button>
                <% end %>

            </div>
        </div>
        <div class="col-lg-8 col-sm-12 login-bg">
            <div class="row">
                <img src="<%= asset_path('hrteam.png') %>" class="img-fluid login-img" alt="">
               
            </div>
        </div>
    </div>
</div>
