/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require variables
 *= require line-awesome-font-awesome
 *= require line-awesome
 *= require pb.calendar
 *= require jquery.easy-pie-chart
 *= require bootstrap-datepicker
 *= require bootstrap-select
 *= require_self
 */

@import "bootstrap";
@import "style";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


/* Buttons */
.btn {
    padding: 0.375rem 0.95rem;
    font-size: 0.950rem;
    border-radius: $button-radius;
}

.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white !important;

    &:hover {
        opacity: 0.85;
        background: $primary;
        border: 1px solid $primary;
    }

    i {
        margin-left: 5px;
        vertical-align: middle;
        font-size: 12px;
    }

    &:focus,
    &:active {
        background-color: $primary !important;
        border: 1px solid $primary !important;
        box-shadow: 0 0 0 0.2rem rgba($primary, 0.25) !important;
    }
}

.btn-secondary {
    color: $white !important;
    background: #6c757d !important;

    &:hover {
        color: rgb(80, 95, 121) !important;
        background: rgba(9, 30, 66, 0.08) !important;
        border-color: transparent;
    }

    &:focus,
    &:active {
        color: rgb(0, 82, 204) !important;
        background-color: rgba(179, 212, 255, 0.6) !important;
    }
}

.btn-default {
    color: $primary !important;
    background: $white;
    border-radius: $button-radius;
    font-size: 0.950rem;

    &:hover {
        color: $primary !important;
        background: rgba($primary, 0.05);
    }
}

.btn-circle {
    background: #f6f9fa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #007bff;
    padding: 0;
    line-height: 2;
    font-size: 14px;
    border: 1px solid #eee;
}

.btn-dashed {
    background: rgba($primary, 0.05);
    border: 2px dashed rgba($primary, 0.2);
    padding: 10px;
    text-align: center;
    min-width: 100px;
    min-height: 75px;
    line-height: 3.5;
    border-radius: 5px;
    color: $primary;
}

/* Tabs */
.custom-tabs {
    .nav-tabs {
        border-bottom: none;

        .nav-item {
            border-radius: 0px;
        }

        .nav-link {
            border-color: transparent;
            color: $text-gray;
            border-width: 0 0 4px;
            border-radius: 0px;
            font-size: 0.85rem;
            padding: 0.3rem 0;
            margin-right: 1rem;

            &.active {
                border-radius: 0px;
                color: $primary;
                background-color: transparent;
                border-width: 0 0 3px;
                border-color: transparent transparent $primary;

                &:hover {
                    border-color: inherit;
                }
            }

            &:hover {
                border-color: transparent;
            }
        }
    }

    .tab-pane {
        padding: 1rem 0;
    }
}

/* Badges Normal */
$success: #d4faf2;
$warning: #fcc031;
$danger: #dc3545;

.badge.badge-success {
    color: #59c59d;
    background-color: $success;
    line-height: 1;
    padding: 0.3rem 0.5rem;
    border-radius: .5rem;
    padding-bottom: 0.2rem;
    font-weight: 400;
}

.badge.badge-danger {
    color: $danger;
    background-color: #f5dbe2;
    line-height: 1;
    padding: 0.3rem 0.5rem;
    border-radius: .5rem;
    padding-bottom: 0.2rem;
    font-weight: 400;
}

.badge.badge-warning {
    color: $warning;
    background-color: #f6ecd0;
    line-height: 1;
    padding: 0.3rem 0.5rem;
    border-radius: .5rem;
    padding-bottom: 0.2rem;
    font-weight: 400;
}

.badge.badge-primary {
    color: $primary;
    background-color: rgba($primary, 0.15);
    line-height: 1;
    padding: 0.3rem 0.5rem;
    border-radius: .5rem;
    padding-bottom: 0.2rem;
    font-weight: 400;
}

/* Badges Pulsating */
.badge-pulse {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    border: 1px solid #fff;
}

@-webkit-keyframes fadeInOut {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

.pulse-success {
    animation: successPulse 2s infinite, fadeInOut 4s 1;
}

@keyframes successPulse {
    from {
        background-color: darken($success, 20%);
        box-shadow: 0 0 9px rgba($success, 0.3);
    }

    50% {
        background-color: darken($success, 20%);
        box-shadow: 0 0 18px rgba($success, 5);
    }

    to {
        background-color: darken($success, 20%);
        box-shadow: 0 0 9px rgba($success, 0.1);
    }
}

.pulse-warning {
    animation: warningPulse 2s infinite, fadeInOut 4s 1;
}

@keyframes warningPulse {
    from {
        background-color: $warning;
        -webkit-box-shadow: 0 0 5px rgba($warning, 0.1);
    }

    50% {
        background-color: $warning;
        -webkit-box-shadow: 0 0 8px rgba($warning, 0.8);
    }

    to {
        background-color: $warning;
        -webkit-box-shadow: 0 0 5px rgba($warning, 0.4);
    }
}

.pulse-danger {
    animation: dangerPulse 2s infinite, fadeInOut 4s 1;
}

@keyframes dangerPulse {
    from {
        background-color: $danger;
        box-shadow: 0 0 5px rgba($danger, 0.1);
    }

    50% {
        background-color: $danger;
        box-shadow: 0 0 8px rgba($danger, 0.8);
    }

    to {
        background-color: $danger;
        box-shadow: 0 0 5px rgba($danger, 0.4);
    }
}


/* Badge Dot */
.badge-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
    position: absolute;

    &.danger {
        border: 3px solid $danger;
        background-color: $danger;
    }

    &.warning {
        border: 3px solid $warning;
        background-color: $warning;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}