$pagebg: #f5f7fa;
$link: #40baf8;
$primary: #1975ef;
$black: #000;
$white: #fff;
$white-shade1: #eee;

$text-gray: #7c7c7c;

$button-radius:20px;
$border-radius:10px;

body {
  background: $pagebg;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

a {
  color: $link;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus,
  &:visited {
    opacity: 0.9;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 10px 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.img-avatar {
  height: 35px;
  margin: 0 10px;
  border-radius: 50em;
}

.dashboard {
  padding: 0 1.5rem;
}

.page-header {
  border-bottom: 1px solid $white-shade1 !important;
  margin-bottom: 1.5rem;
  padding: 1rem 0rem 0;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
}

.breadcrumb {
  background: transparent;
  padding: 0;

  .breadcrumb-item {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;

    a {
      color: #b3b3b3;
      font-size: 14px;
      font-weight: 400;
      vertical-align: middle;
    }

    &:before {
      color: #b3b3b3;
      font-size: 14px;
      font-weight: 400;
      vertical-align: middle;
    }
  }

  .breadcrumb-item.active {
    &.active {
      color: #b3b3b3;
      font-size: 14px;
      font-weight: 400;
      vertical-align: middle;
    }
  }
}


.section-title {
  color: $black;
  font-size: 1.2rem;
  font-weight: 600;
}



.modal-content {
  border-radius: $border-radius;

  .modal-title {
    font-weight: 600;
  }

  .modal-header {
    border-bottom: none;

    i.la.la-times {
      font-size: 1rem;
      opacity: 1;
    }
  }
}




/* login-page */
.login-page {
  background: $white;

  >div {
    height: 100vh;
  }

  .login-page_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 auto;

    @media(max-width: 768px) {}
  }

  .input-group {
    border: 2px solid rgba($primary, 0.03);
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 7px;
    background: rgba($primary, 0.02);

    input[type="email"],
    input[type="password"] {
      padding: 0.6rem 0.5rem;
      border: none;
      outline: none;
      background: transparent;
      font-weight: 400;
      line-height: 1;
      font-size: 0.850rem;

      &:focus {
        outline: 0;
      }
    }

    i {
      font-size: 1.4rem;
      color: $primary;
      line-height: 1.1;
      padding: 5px 5px 0 10px;
    }
  }

  .page-title {
    font-size: 2.2rem;
    color: $primary;

    &:after {
      display: none;
    }
  }

  .login-bg {
    @media (max-width: 768px) {
      display: none;
    }

    .login-img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%;
      margin: 0 auto;
    }
  }


}


/* sidebar-menu */
#sidebar {
  width: 230px;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;

  .sidebar-header {
    padding: 1rem 0.5rem;

    img {
      max-width: 150px;
      display: block;
      margin: 0 auto;
    }
  }

  .sidebar-sticky {
    position: fixed;
    height: 100vh;
    width: 200px;
    border: 1px solid #f5f5f5;
    background-color: #fff;
  }

  .nav {
    margin-top: 1rem;

    >li {
      display: inline-block;
      width: 100%;
      line-height: 1;

      >a {
        vertical-align: middle;
        padding: 0.8rem 1rem;
        width: 83%;
        display: inline-block;

        span {
          display: inline-block;
          font-size: 0.750rem;
          font-weight: 500;
          color: $text-gray;
          vertical-align: middle;
        }

        i {
          vertical-align: middle;
          font-size: 1.4rem;
          color: $text-gray;
          display: inline-block;
          margin-right: 10px;
        }
      }

      &.active {
        a {
          i {
            color: $primary;
          }

          span {
            color: $primary;
          }
        }

        ul {
          li {
            .active {
              color: $primary;
            }
          }
        }

        .sub-menu-click {
          color: $primary !important;
        }
      }

      &:hover {
        i {
          color: $primary !important;
        }
      }
    }
  }

  &.active {
    margin-left: -230px;
    transform: rotateY(100deg);
  }

  .sidebar-footer {
    position: fixed;
    bottom: 0;
    width: 200px;
    left: 0;
    padding: 5px;
    border-top: 1px solid #f5f5f5;

    ul {
      margin-bottom: 0;

      li {
        a {
          color: $text-gray;
          font-size: 1.5rem;
          position: relative;

          .badge-pulse {
            right: 5px;
          }
        }
      }
    }
  }

  .sub-menu {
    padding: 0 10px;
    display: none;

    li {
      padding-left: 44px;
      font-size: 0.750rem;
      padding: 7px 5px 7px 44px;
      display: block;

      a {
        color: $text-gray;
      }

    }
  }

  .sub-menu-click {
    cursor: pointer;
    font-size: 12px;
    color: $text-gray;
    transition: all .4s linear;
    padding: 5px;
    border-radius: 50%;

    &.clicked {
      transform: rotate(90deg);
    }

    &:hover {
      background: rgba(0, 123, 255, 0.05);
      color: $primary !important;
    }
  }


}

.has-sub-menu>a {
  padding-bottom: 10px !important;
}






label {
  font-size: 0.850rem;
  color: $text-gray;
}

.form-control {
  border: 1px solid #ddd;
  font-size: 0.850rem;
  color: #333 !important;

  &:focus {
    color: rgba($primary, 0.55);
    border-color: rgba($primary, 0.6);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.15);
  }
}

.output {}

.datepicker {
  min-width: 200px;

  .datepicker-switch {
    color: $primary;
    font-size: 0.850rem;
    line-height: 1;
    vertical-align: middle;
    text-transform: uppercase;

    &:hover {
      background: #f5f5f5;
    }
  }

  table {
    width: 100%;
  }

  td,
  th {
    color: #555555;
    font-weight: 500;
    font-size: 0.750rem;
    height: 25px;

    &.dow {
      text-transform: uppercase;
      padding: 15px 0 5px 0;

      &:first-child,
      &:last-child {
        color: #c53131;
      }
    }

    span {
      height: 40px !important;
      line-height: 40px !important;
    }
  }

  td.active,
  td.active:hover {
    text-shadow: none;
    border-radius: 5px;
    border: 0;
  }

  td.day:hover,
  td.day.focused,
  .year:hover,
  .year.focused,
  .month:hover,
  .month.focused {
    background: #f5f5f5;
    cursor: pointer;
    color: $primary;
  }

  th.prev,
  th.next {
    font-size: 0;
  }

  th.prev {
    &:hover {
      background: #f5f5f5;
      cursor: pointer;
      color: $primary;
    }

    &:before {
      font: normal normal normal 16px/1 LineAwesome;
      content: "\f120";

      &:hover {
        background: #f5f5f5;
        cursor: pointer;
        color: $primary;
      }
    }
  }

  th.next {
    &:hover {
      background: #f5f5f5;
      cursor: pointer;
      color: $primary;
    }

    &:before {
      font: normal normal normal 16px/1 LineAwesome;
      content: "\f121";

      &:hover {
        background: #f5f5f5;
        cursor: pointer;
        color: $primary;
      }
    }
  }
}


.bootstrap-select {
  .btn-default {
    border: 1px solid #ddd;
    font-size: 0.850rem;
    color: #333 !important;
    border-radius: 0.25rem;

    &:hover {
      background: #fff;
      outline: none;
    }
  }

  .dropdown-toggle {
    &:focus {
      color: rgba($primary, 0.55);
      border-color: $primary;
      outline: 0 !important;
      box-shadow: 0 0 0 0.2rem rgba($primary, 0.15);
    }

    &::after {
      width: 0;
      height: auto;
      margin-left: 0;
      border: 0 !important;
      vertical-align: middle;
      content: "";
      display: inline-block;
      font: normal normal normal 16px/1 LineAwesome;
      font-size: inherit;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      content: "\f11f";
      opacity: 0.5;
    }

    .filter-option {
      height: 19px;
      line-height: 1.7;
    }
  }

  .dropdown-menu {
    &.open {
      &.show {
        .dropdown-menu {
          display: block;

          li {
            font-size: 0.850rem;
            padding: 0.375rem 0.75rem;

            .text {
              color: #333;
            }

            small {
              font-style: italic;
              display: block;
              padding-left: 0;

              &:before {
                content: "("
              }

              &:after {
                content: ")"
              }
            }

            a {
              display: block;
            }

            &:hover {
              color: $primary;
              background: rgba($primary, 0.05);

              .text {
                color: $primary;
              }
            }

            &.active {
              a {
                span {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

.file-upload {
  &.fixed-width {
    width: 98px;
  }

  .form-control {
    background: transparent;
    border: transparent;
    pointer-events: none;
  }

  +.help-block {
    font-size: 0.750em;
    color: #999;
  }

  label {
    margin: 0;
  }
}

.btn-light {
  color: $primary;
  background: rgba($primary, 0.05);
  font-size: 0.950rem;
  border-radius: $button-radius;
}


@mixin card-white() {
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  background-color: #fff;
}

.documents-card {
  @include card-white();
  margin-bottom: 1rem;
  margin-bottom: 1rem;

  .card-header {
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: transparent;

    i {
      color: $primary;
      font-size: 3rem;
    }
  }

  .card-body {
    padding: 0.75rem 0.75rem;

    .card-title {
      font-size: 0.850rem;
      margin-bottom: 0;
      color: $text-gray;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .card-footer {
    padding: 0.75rem 0.75rem 10px 0.75rem;
    background-color: #fff;
    border-top: 1px solid #f5f5f5;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    span {
      font-size: 0.750rem;
      color: $text-gray;
    }

    .download {
      color: $primary;
      font-size: 0.750rem;
    }
  }
}

.employee-card {
  @include card-white();
  margin-bottom: 1rem;
  margin-bottom: 1rem;

  .card-img-top {
    width: 75px;
    border: 5px solid #fbfafa;
  }

  .card-header {
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: transparent;
  }

  .card-body {
    padding: 0.75rem 0.75rem;

    .card-title {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 1rem;
      color: $text-gray;
      font-style: inherit;
      font-size: 0.750rem;
      text-transform: uppercase;
    }

    span {
      color: $text-gray;
      font-size: 0.750rem;
      margin-top: 0.6rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .options {
    position: absolute;
    top: 10px;
    right: 10px;

    i.la {
      font-size: 2rem;
      color: $text-gray;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-item {
      font-size: 0.750rem;
    }
  }

}

.filter-employees {
  margin-bottom: 2rem;
}

.bs-searchbox .form-control {
  padding: 3px 10px;
}

.dropdown-menu-arrow {
  &::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  &:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }
}


.profile-card {
  @include card-white();
  margin-bottom: 1rem;
  margin-bottom: 1rem;

  .card-img-top {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fbfafa;
  }

  .card-header {
    padding: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: transparent;
  }

  .card-body {
    padding: 0.75rem 0.75rem;

    .card-title {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 1rem;
      color: $text-gray;
      font-style: inherit;
      font-size: 0.750rem;
      text-transform: uppercase;
    }

    span {
      color: #222222;
      font-size: 0.750rem;
      margin-top: 0.6rem;

      i {
        margin-right: 5px;
      }
    }
  }


}

.info-section {
  @include card-white();
  padding-top: 15px;
  padding-bottom: 15px;

  p {
    font-size: 0.950rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  &.document-list-view {
    padding-left: 15px;
    padding-right: 15px;

    a.document-link {
      font-size: 0.850rem;
      display: table;
      margin-top: 5px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}

.total-leave {
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  min-height: 244px;

  .easyPieChart {
    margin: 0 0 1.2rem 0;
    color: #b3b3b3;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    margin: 0 0 1.2rem 0;
    font-size: 1rem;
    font-weight: 600;
  }

  h5 {
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

  }

  p {
    color: $text-gray;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
    font-style: italic;
    display: table;
    width: 100%;
  }

  &.annual {}

  &.sick {}

  &.casual {}

  &.special {
    a {
      color: $link;
      margin: 0 0 0.8rem 0;
      font-size: 0.8rem;
    }
  }
}

.chart-dots {
  li {
    color: $text-gray;
    font-size: 0.7rem;
    vertical-align: middle;

    i {
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 2px;

      &.chart-casual {
        background: #8867d6;
      }

      &.chart-sick {
        background: #9ecae1;
      }

      &.chart-compoff {
        background: #deebf6;
      }
    }

    &:not(:last-child) {
      margin-right: 0.2rem;
    }
  }
}


.upcomming-leaves {
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  margin-bottom: 1rem;
  border-collapse: separate !important;
  table-layout: fixed;
  background-color: #fff;

  th {
    margin: 0;
    color: $text-gray;
    border: 0;
    padding: 0 8px;
    font-size: 12px;
    border: 0 !important;
    padding-bottom: 0;
    font-weight: 400;
    text-transform: uppercase;
  }

  td {
    margin: 0;
    font-size: 14px;
    color: $text-gray;
    border: 0;
    padding: 0 8px;
    font-weight: 500;
    border: 0 !important;
    padding-top: 0;
  }
}

.upcomming-leaves tr:first-child th {
  padding-top: 20px;
  padding-bottom: 0;
}

.upcomming-leaves tr:last-child td {
  padding-top: 0px;
  padding-bottom: 20px;
}

.leave-calnder {
  margin-bottom: 3rem;

  .wrap {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 15px;

    #pb-calendar {
      .year-month-frame {
        padding-left: 5px;
        margin-bottom: 1rem;
        width: 60%;

        span {
          color: #000;
          font-size: 1rem;
          line-height: 1;
          vertical-align: middle;
        }
      }

      .top-frame {
        padding-top: 0;
        margin-bottom: 0;
      }

      .control-frame {
        padding-right: 5px;
        vertical-align: middle;
        line-height: 2.5;
        width: 40%;
      }

      .calendar-head-frame .col {
        font-size: 0.7rem;
      }

      .calendar-body-frame {
        .col {
          font-size: 0.8rem;
          height: 20px;
          padding: 5px 5px;

          .schedule-dot-list {
            height: 15px;
            margin-top: 5px;

            .schedule-dot-item {
              width: 5px;
              height: 5px;
              margin-left: 1px;
              margin-right: 1px;
            }
          }

        }
      }
    }

    .leave-dots {
      text-align: center;

      li {
        color: $text-gray;
        font-size: 0.8rem;
        vertical-align: middle;

        i {
          width: 5px;
          height: 5px;
          display: inline-block;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 3px;

          &.dot-casual {
            background: #3674fc;
          }

          &.dot-sick {
            background: #F44336;
          }

          &.dot-holiday {
            background: #28a745;
          }
        }
      }
    }
  }
}




.pb-calendar>.calendar-head-frame>.row>.col,
.pb-calendar>.calendar-body-frame>.row>.col,
.pb-calendar>.calendar-head-frame>.row>.col,
.pb-calendar>.calendar-body-frame>.row>.col {
  line-height: 1;
  padding: 10px 5px;
  height: 20px;
}

.pb-calendar .schedule-dot-item.blue {
  background-color: blue;
}

.pb-calendar .schedule-dot-item.red {
  background-color: red;
}

.pb-calendar .schedule-dot-item.green {
  background-color: green;
}

.team-leaves {
  .wrap {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 15px;

    .team-mem-leave {
      margin-bottom: 2rem;

      h6 {
        font-size: 1.1rem;
        font-weight: 500;
        display: inline-block;
        width: 100%;
        color: #000;
        padding-top: 10px;

        .img-avatar {
          max-width: 42px;
          border: 5px solid #fbfafa;
          float: left;
          margin-top: -10px;
        }
      }

      span {
        font-size: 0.750rem;
        color: $text-gray;
      }

      p {
        margin-bottom: 0;
      }

      .divider {
        padding: 0 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



.attendance {
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
  @include card-white();

  .filter-list {
    li {
      margin-right: 0;
      border-right: 1px solid #eee;
      padding: 0 10px 0 5px;
      line-height: 1;

      &:last-child {
        border-right: 0;
      }

      a {
        font-size: 0.750rem;
        color: $text-gray;
        text-transform: uppercase;
      }

      &.active {
        a {
          color: $primary;
        }
      }
    }
  }

  .table {
    tr {
      &:nth-of-type(odd) {
        background-color: rgba($pagebg, 0.9);
      }
    }

    th {
      font-size: 14px;
      font-weight: 500;
    }

    td {
      font-size: 12px;
      vertical-align: middle;
      border: 0;

      .late-icon {
        font-size: 1.1rem;
        vertical-align: middle;
        color: $warning;
      }

      .ontime-icon {
        font-size: 1.1rem;
        vertical-align: middle;
        color: $success;
      }

      .effectivehrs-meter {
        width: 50px;
        height: 8px;
        background: rgba($primary, 0.15);
        display: block;
        border-radius: 10px;
        margin-bottom: 5px;
        overflow: hidden;

        &:before {
          background: $primary;
          content: "";
          height: 100%;
          display: block;
        }

        &[data-value="1"] {
          background: rgba($danger, 0.1);

          &:before {
            width: 10%;
            background: $danger;
          }
        }

        &[data-value="2"] {
          background: rgba($danger, 0.1);

          &:before {
            width: 20%;
            background: $danger;
          }
        }

        &[data-value="3"] {
          background: rgba($danger, 0.1);

          &:before {
            width: 30%;
            background: $danger;
          }
        }

        &[data-value="4"] {
          background: rgba($warning, 0.1);

          &:before {
            width: 40%;
            background: $warning;
          }
        }

        &[data-value="5"] {
          background: rgba($warning, 0.1);

          &:before {
            width: 50%;
            background: $warning;
          }
        }

        &[data-value="6"] {
          &:before {
            width: 60%;
          }
        }

        &[data-value="7"] {
          &:before {
            width: 70%;
          }
        }

        &[data-value="8"] {
          &:before {
            width: 80%;
          }
        }

        &[data-value="9"] {
          &:before {
            width: 90%;
          }
        }

        &[data-value="10"] {
          &:before {
            width: 100%;
          }
        }

      }

      .at-log {
        display: block;
        width: 100%;
        background: rgba($primary, 0.15);
        height: 12px;
        border-radius: 10px;
        padding: 2px 3px;

        .dot {
          float: left;
          max-width: 50px;
          height: 8px;
          background: $primary;
          border-radius: 2px;
          margin: 0 5px 0 0;
          cursor: pointer;

          &[data-value="1"] {
            width: 10%;
          }

          &[data-value="2"] {
            width: 20%
          }

          &[data-value="3"] {
            width: 30%;
          }

          &[data-value="4"] {
            width: 40%
          }

          &[data-value="5"] {
            width: 50%
          }

          &[data-value="6"] {
            width: 60%
          }

          &[data-value="7"] {
            width: 70%
          }

          &[data-value="8"] {
            width: 80%
          }

          &[data-value="9"] {
            width: 90%
          }
        }
      }
    }
  }
}

.card-1 {
  @include card-white();
  padding: 10px;

  >span {
    margin-bottom: 1.5rem;
    font-size: 0.750rem;
  }

  >h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    width: 80%;
    font-family: 'Montserrat', sans-serif;

    small {
      font-size: 12px;
      display: block;
    }
  }

  .icon {
    position: absolute;
    right: 10px;
    bottom: 10%;
    font-size: 0.950rem;

    i {}
  }
}

.card-group {
  width: 100%;
}

.card-group {
  .card {
    border: 0;
    background: transparent;

    span {
      font-size: 0.650rem;
    }

    h3 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
      font-family: 'Montserrat', sans-serif;
    }

    small {
      font-size: 0.750rem;
    }
  }
}

/* Org Chart */
#tree {
  width: 100%;
  height: 80vh;
}

[node-id] rect {
  fill: #fff;
  stroke: #f5f5f5;
}

.field_0 {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  fill: #7c7c7c;
}

.field_1 {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  fill: #7c7c7c;
  font-size: 08px;
}

div [label="name"],
div [label="title"] {
  text-transform: capitalize;
  color: #7c7c7c;
}

div [label="name"]+input,
div [label="title"]+input {
  color: #000 !important;
}

div [label="name"]+input+hr,
div [label="title"]+input+hr {
  display: none !important;
}