
<!-- Scrollbar Custom CSS -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
  
    <div class="sidebar-sticky">
      <div class="sidebar-header">
        <img src="/assets/logo.png" class="img-fluid d-none d-md-block" alt="HRMS">
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-bookmark"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item active has-sub-menu">
        <a class="nav-link" href="<%= employees_path %>">
          <i class="la la-users"></i>
          <span>Employees</span>
        </a>
        <i class="la la-angle-right sub-menu-click"></i>

        <div class="sub-menu">
          <ul class="list-unstyled">
            <li><a href="<%= onboard_onboard_path %>">Onboard</a></li>
            <li><a href="">Offboard</a></li>
            <li><a href="<%= attendance_index_path %>">Attendance</a></li>
            </ul>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= leaves_path %>">
            <i class="la la-clock-o"></i>
            <span>Leaves</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-list-alt"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
           <i class="la la-money"></i>
            <span>Payroll</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= add_documents_add_documents_path %>">
            <i class="la la-file-text-o"></i>
            <span>Documents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-certificate"></i>
            <span>Appraisal</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="<%= org_chart_org_chart_path %>">
          <i class="la la-sitemap"></i>
              <span>Organisation List</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <ul class="list-inline">
          <li class="list-inline-item">
                            <a href="<%= profile_profile_path %>">
                             <img class="img-avatar" src="/assets/person.jpg">
                            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Notifications"><i class="la la-bell"></i>
                <span class="badge-pulse pulse-warning"></span>
            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Settings"><i class="la la-gear"></i>
              </a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#" title="Log Out"><i class="la la-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content  -->
  <div id="content">

    <!-- Dashboard -->
    <div class="dashboard">




<!------------------------------ Employee Profile View ------------------------------------------>

<div class="page-wrapper">
            <div class="page-header">
                <div class="row">
              <div class="col-md-9">
                  <h2>Employee Profile</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employees List</li>
                  </ol>
                </nav>
             </div>
              <div class="col-md-3">
               <a class="btn btn-default pull-right" href="<%= onboard_onboard_path %>">
                  <i class="la la-pencil"></i> Edit Profile
               </a>
             
              </div>
            </div>
             </div>

 

          <div class="row">

            <div class="col-sm-12">
            <div class="custom-tabs mt-4">
                    <ul class="nav nav-tabs" id="leaveTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link text-uppercase active show" data-toggle="tab" href="#profile-personal"><i class="la la-user"></i> Personal</a>
                      </li>
                <li class="nav-item">
                        <a class="nav-link text-uppercase"  data-toggle="tab" href="#profile-company" role="tab" aria-controls="profile" aria-selected="false"><i class="la la-building"></i> Company</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase"  data-toggle="tab" href="#profile-documents" role="tab" aria-controls="profile" aria-selected="false"><i class="la la-file-text"></i> Documents</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade active show" id="profile-personal">
                         <div class="row">
                             <div class="col-md-3">
                              <div class="card profile-card">
                                  <div class="card-header">
                                    <img class="card-img-top mx-auto d-block" src="/assets/person3.jpg">
                                  </div>
                                    <div class="card-body">
                                      <h4 class="card-title text-center">Shahil Mohammed</h4>
                                      <p class="card-text text-center">Senior Software Engineer</p>
                                      <div class="form-group">
                                        <label class="d-block mb-0">Phone</label>
                                        <span class="d-block mt-0">+91-994-560-9605</span>
                                      </div>
                                      <div class="form-group">
                                        <label class="d-block mb-0">Email</label>
                                        <span class="d-block mt-0">shahil@folkslogic.com</span>
                                      </div>
                                       <div class="form-group">
                                        <label class="d-block mb-0">Reports To</label>
                                        <span class="d-block mt-0">Ranjith Jogi</span>
                                      </div>
                                    </div>
                              </div>
                              </div>
                              <div class="col-md-9 info-section">
                                <div class="">
                                  <h3 class="section-title">Basic Informantion.</h3>
                                 <div class="row">
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">First Name</label>
                                      <p>Shahil</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Middle Name</label>
                                      <p></p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Last Name</label>
                                      <p>Mohammed</p>
                                    </div>
                                  </div>
                                     <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Gender</label>
                                      <p>Male</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Nationality</label>
                                      <p>Indian</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Blood Group</label>
                                      <p>A+</p>
                                    </div>
                                  </div>
                               <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Maritial Status</label>
                                      <p>Single</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Phone</label>
                                      <p>994 560 9605</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Email</label>
                                      <p>shahil@folkslogic.com</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Emergency Contact</label>
                                      <p>897 114 9551</p>
                                    </div>
                                  </div>
                                 </div>
                                  <h3 class="section-title mt-4">Company Informantion.</h3>
                                 <div class="row">
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Designation</label>
                                      <p>Senior Software Engineer</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Employee ID</label>
                                      <p>1022</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Department</label>
                                      <p>IT</p>
                                    </div>
                                  </div>
                                     <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Work Location</label>
                                      <p>Mangalore</p>
                                    </div>
                                  </div>
                                     <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Shift</label>
                                      <p>Regular</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Employment Type</label>
                                      <p>Permenent</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Reports To</label>
                                      <p>Ranjith Jogi</p>
                                    </div>
                                  </div>
                                 </div>
                              </div>

                              <h3 class="section-title mt-4">Education.</h3>
                              <div class="row">
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Degree 1</label>
                                      <p>Diploma in Computer Science</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Degree 2</label>
                                      <p>Engineering in Computer Science</p>
                                    </div>
                                  </div>
                                 </div>

                             <h3 class="section-title mt-4">Professional Information.</h3>
                              <div class="row">
                                   <div class="col-md-12">
                                    <div class="form-group">
                                      <label class="mb-0">Junior Engineer (2008-2010)</label>
                                      <p>Onya Digital Solutions</p>
                                    </div>
                                  </div>
                                    <div class="col-md-12">
                                    <div class="form-group">
                                     <label class="mb-0">Basic Engineer (2001-2007)</label>
                                      <p>Hostgator LLC</p>
                                    </div>
                                  </div>
                                 </div>


                              </div>
                              </div>
                         </div>   
                       
                        <div class="tab-pane fade" id="profile-company">
                          <div class="">
                            <div class="col-sm-12 info-section">
                                       <h3 class="section-title">Company Informantion.</h3>
                                 <div class="row">
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Employee Number</label>
                                      <p>1122</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Job Title</label>
                                      <p>SSE</p>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Reports To</label>
                                      <p>Mohammed</p>
                                    </div>
                                  </div>
                                     <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Secondary Job Title</label>
                                      <p>D3</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Location</label>
                                      <p>Mangalore</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Leave Plan</label>
                                      <p>FolksLogic Leave Plan</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Date Of Joining</label>
                                      <p>10-10-2014</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Probition End</label>
                                      <p>10-04-2015</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Department</label>
                                      <p>Technology</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Employment Type</label>
                                      <p>Permenent</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Shift</label>
                                      <p>Regular</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Weekoff Policy</label>
                                      <p>Saturday & Sunday Off</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Holiday List</label>
                                      <p>FolksLogic Leave Calender</p>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Expence Policy</label>
                                      <p>SSE Policy</p>
                                    </div>
                                  </div>

                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="tab-pane fade" id="profile-documents">
                          <div class="row">
                            <div class="col-sm-12 ">
                               <h3 class="section-title"><i class="la la-info"></i> Identity Documents</h3>
                                 <div class="row">
                                  <div class="col-md-3">
                                    <div class="info-section document-list-view">
                                    <div class="form-group">
                                      <h6 class="doc-title">Passport</h6>

                                      <label class="mb-0">Passport #: LKN258Jk5875</label>
                                      <a href="" class="document-link"><i class="la la-paperclip"></i> Passport_Front_01</a>
                                        <a href="" class="document-link"><i class="la la-paperclip"></i> Passport_Front_02</a>
                                    </div>
                                     </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="info-section document-list-view">
                                    <div class="form-group">
                                      <h6 class="doc-title">Driving Licence.</h6>

                                      <label class="mb-0">DL #: 1245795021587596</label>
                                      <a href="" class="document-link"><i class="la la-paperclip"></i> Driving_Licence_Front</a>
                                        <a href="" class="document-link"><i class="la la-paperclip"></i> Driving_Licence_Back</a>
                                    </div>
                                     </div>
                                  </div>
                                     <div class="col-md-3">
                                       <div class="info-section document-list-view">
                                     <div class="form-group">
                                      <h6 class="doc-title">SSN</h6>

                                      <label class="mb-0">SSN #: 1285978952</label>
                                      <a href="" class="document-link"><i class="la la-paperclip"></i> SSN_Front</a>
                                        <a href="" class="document-link"><i class="la la-paperclip"></i> SSN_Back</a>
                                    </div>
                                  </div>
                                  </div>
                                  
                            </div>
                          </div>

                                 <div class="col-sm-12 mt-5">
                               <h3 class="section-title"> <i class="la la-suitcase"></i> Previous Employer</h3>
                                 <div class="row">
                                   <div class="col-md-3">
                                    <div class="info-section document-list-view">
                                    <div class="form-group">
                                      <h6 class="doc-title"> Infosys</h6>

                                      <label class="mb-0">Issue Date: 10/10/2009</label>
                                      <a href="" class="document-link"><i class="la la-paperclip"></i> Infosys</a>
                                   
                                    </div>
                                     </div>
                                  </div>
                                     <div class="col-md-3">
                                       <div class="info-section document-list-view">
                                     <div class="form-group">
                                      <h6 class="doc-title"> Novigo Solutions</h6>

                                      <label class="mb-0">Issue Date: 14/05/2018</label>
                                      <a href="" class="document-link"><i class="la la-paperclip"></i> Novigo_Doc</a>
                                   
                                    </div>
                                  </div>
                                  </div>
                                  
                            </div>
                          </div>

                             <div class="col-sm-12 mt-5">
                               <h3 class="section-title"> <i class="la la-graduation-cap"></i> Educational Documents</h3>
                                 <div class="row">
                                   <div class="col-md-3">
                                    <div class="info-section document-list-view">
                                    <div class="form-group">
                                      <h6 class="doc-title"> Bacholer Degree</h6>

                                      <label class="mb-0">Certificate #: 1024589</label>
                                      <a href="" class="document-link"><i class="la la-paperclip"></i> Certificate_Front</a>
                                   
                                    </div>
                                     </div>
                                  </div>
                                     <div class="col-md-3">
                                       <div class="info-section document-list-view">
                                     <div class="form-group">
                                      <h6 class="doc-title"> Diploma Degree</h6>

                                      <label class="mb-0">Certificate #: 859785986</label>
                                      <a href="" class="document-link"><i class="la la-paperclip"></i> Certificate_Copy</a>
                                   
                                    </div>
                                  </div>
                                  </div>
                                  
                            </div>
                          </div>

                        </div>
                        </div>

                    </div>
                  </div>
                </div>


            
          </div>





    </div>





</div>

</div>
