
<!-- Scrollbar Custom CSS -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
  
    <div class="sidebar-sticky">
      <div class="sidebar-header">
        <img src="/assets/logo.png" class="img-fluid d-none d-md-block" alt="HRMS">
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-bookmark"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item active has-sub-menu">
        <a class="nav-link" href="<%= employees_path %>">
          <i class="la la-users"></i>
          <span>Employees</span>
        </a>
        <i class="la la-angle-right sub-menu-click"></i>

        <div class="sub-menu">
          <ul class="list-unstyled">
            <li><a class="active" href="<%= onboard_onboard_path %>">Onboard</a></li>
            <li><a href="">Offboard</a></li>
            <li><a href="<%= attendance_index_path %>">Attendance</a></li>
            </ul>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= leaves_path %>">
            <i class="la la-clock-o"></i>
            <span>Leaves</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-list-alt"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
           <i class="la la-money"></i>
            <span>Payroll</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= add_documents_add_documents_path %>">
            <i class="la la-file-text-o"></i>
            <span>Documents</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-certificate"></i>
            <span>Appraisal</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= org_chart_org_chart_path %>">
          <i class="la la-sitemap"></i>
              <span>Organisation List</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="la la-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>

      <div class="sidebar-footer">
        <ul class="list-inline">
         <li class="list-inline-item">
                            <a href="<%= profile_profile_path %>">
                             <img class="img-avatar" src="/assets/person.jpg">
                            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Notifications"><i class="la la-bell"></i>
                <span class="badge-pulse pulse-warning"></span>
            </a>
          </li>
           <li class="list-inline-item">
            <a class="" href="#" title="Settings"><i class="la la-gear"></i>
              </a>
          </li>
          <li class="list-inline-item">
            <a class="" href="#" title="Log Out"><i class="la la-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content  -->
  <div id="content">

    <!-- Dashboard -->
    <div class="dashboard">




<!------------------------------ Employee Profile Edit/Add ------------------------------------------>

<div class="page-wrapper">
            <div class="page-header">
                <div class="row">
              <div class="col-md-9">
                  <h2>Onboard Employee</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employees</li>
                  </ol>
                </nav>
             </div>
              <div class="col-md-3">
             
             
              </div>
            </div>
             </div>

 

          <div class="row">

            <div class="col-sm-12">
            <div class="custom-tabs mt-4">
                    <ul class="nav nav-tabs" id="" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link text-uppercase active show" data-toggle="tab" href="#profile-personal-onb"><i class="la la-user"></i> Personal</a>
                      </li>
                <li class="nav-item">
                        <a class="nav-link text-uppercase"  data-toggle="tab" href="#profile-company-onb" role="tab" aria-controls="profile" aria-selected="false"><i class="la la-building"></i> Company</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-uppercase"  data-toggle="tab" href="#profile-company-assets" role="tab" aria-controls="profile" aria-selected="false"><i class="la la-gift"></i> Assets</a>
                      </li>
 
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade active show" id="profile-personal-onb">
                         <div class="row">
                             <div class="col-md-3">
                              <div class="card profile-card">
                                  <div class="card-header">
                                    <img class="card-img-top mx-auto d-block" src="/assets/person3.jpg">
                                    <div class="input-group file-upload mt-2 fixed-width mx-auto">
                          <label class="input-group-btn">
                              <span class="btn btn-light">
                                   <i class="la la-cloud-upload"></i> Upload <input type="file" style="display: none;" multiple="">
                              </span>
                          </label>
                      </div>
                     <em class="help-block">Upload multiple documents if any</em>
                                  </div>
                    
                              </div>
                              </div>
                              <div class="col-md-9 info-section">
                                <div class="">
                                  <h3 class="section-title">Basic Informantion.</h3>
                                 <div class="row">
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">First Name</label>
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Middle Name</label>
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Last Name</label>
                                       <input type="text" class="form-control">
                                    </div>
                                  </div>
                                     <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Gender</label>
                                       <select class="selectpicker form-control" title="Choose">
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Nationality</label>
                                       <input type="text" class="form-control">
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Blood Group</label>
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                               <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Maritial Status</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>Single</option>
                                            <option>Married</option>
                                            <option>Divorced</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Phone</label>
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Email</label>
                                       <input type="email" class="form-control">
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Emergency Contact</label>
                                       <input type="text" class="form-control">
                                    </div>
                                  </div>
                                 </div>
                                  
                              <h3 class="section-title mt-4">Education. </h3>
                              <div class="row">
                                 <div class="col-md-2">
                                    <a class="btn btn-dashed" href="" data-toggle="modal" data-target="#AddEducation">
                                      Add
                                    </a>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Degree 1</label>
                                      <p>Diploma in Computer Science</p>
                                    </div>
                                  </div>
                                   
                                 </div>

                             <h3 class="section-title mt-4">Professional Information.</h3>
                              <div class="row">
                                  <div class="col-md-2">
                                    <a class="btn btn-dashed" href="" data-toggle="modal" data-target="#AddEmployment">
                                      Add
                                    </a>
                                  </div>
                                    <div class="col-md-5">
                                    <div class="form-group">
                                     <label class="mb-0">Basic Engineer (2001-2007)</label>
                                      <p>Hostgator LLC</p>
                                    </div>
                                  </div>
                                 </div>


                                 <ul class="list-inline mt-4">
                                 	<li class="list-inline-item">
                                 		<button class="btn btn-secondary">Save for later</button>
                                 	</li>
                                 	<li class="list-inline-item">
                                 		<button class="btn btn-primary">Submit</button>
                                 	</li>
                                 </ul>

                              </div>
                              </div>
                         </div> 
                          </div>   
                       
                        <div class="tab-pane fade" id="profile-company-onb">
                          <div class="">
                            <div class="col-sm-12 info-section">
                                       <h3 class="section-title">Company Informantion.</h3>
                                 <div class="row">
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Employee Number</label>
                                      <input type="text"  class="form-control">
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Job Title</label>
                                     <select class="selectpicker form-control" title="Choose">
                                            <option>SSE</option>
                                            <option>SE</option>
                                            <option>Team Lead</option>
                                          </select>
                                    </div>
                                  </div>
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Reports To</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>Ranjith</option>
                                            <option>Anjana</option>
                                            <option>Jeevan</option>
                                          </select>
                                    </div>
                                  </div>
                                     <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Secondary Job Title</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>L1</option>
                                            <option>L2</option>
                                            <option>L3</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Location</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>Bangalore</option>
                                            <option>Mangalore</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Leave Plan</label>
                                     <select class="selectpicker form-control" title="Choose">
                                            <option>Folkslogic Leave Calander</option>
                                            <option>Contract Leave Calander</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Date Of Joining</label>
                                      <input type="text" data-provide="datepicker" class="form-control">
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Probition End</label>
                                      <input type="text" data-provide="datepicker" class="form-control">
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Department</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>IT</option>
                                            <option>Finance</option>
                                            <option>HR</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Employment Type</label>
                                     <select class="selectpicker form-control" title="Choose">
                                            <option>Permenent</option>
                                            <option>Contract</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Shift</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>General Shift</option>
                                            <option>Mid Day Shift</option>
                                            <option>Night SHift</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Weekoff Policy</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>Fri-Sat</option>
                                            <option>Sat-Sun</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Holiday List</label>
                                       <select class="selectpicker form-control" title="Choose">
                                            <option>Folkslogic Leave Calander</option>
                                            <option>Contract Leave Calander</option>
                                          </select>
                                    </div>
                                  </div>
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Expence Policy</label>
                                        <select class="selectpicker form-control" title="Choose">
                                            <option>L1 Policy</option>
                                            <option>L2 Ploicy</option>
                                          </select>
                                    </div>
                                  </div>

                            </div>
                              <ul class="list-inline mt-4">
                                 	<li class="list-inline-item">
                                 		<button class="btn btn-secondary">Save for later</button>
                                 	</li>
                                 	<li class="list-inline-item">
                                 		<button class="btn btn-primary">Submit</button>
                                 	</li>
                                 </ul>
                          </div>

                        </div>
                        </div>

                         <div class="tab-pane fade" id="profile-company-assets">
                          <div class="">
                            <div class="col-sm-12 info-section">
                                       <h3 class="section-title">Company Assets.</h3>
                                 <div class="row">
                                 
                                    <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">ID Card</label>
                                     <select class="selectpicker form-control" title="Choose">
                                            <option>SSE</option>
                                            <option>SE</option>
                                            <option>Team Lead</option>
                                          </select>
                                    </div>
                                  </div>

                                  <div class="col-md-3">
                                  <div class="form-group">
                                    <label class="mb-0">Laptop</label>
                                   <select class="selectpicker form-control" title="Choose">
                                          <option>Yes</option>
                                          <option>No</option>
                                        </select>
                                  </div>
                                </div>

                                <div class="col-md-3">
                                <div class="form-group">
                                  <label class="mb-0">Phone</label>
                                 <select class="selectpicker form-control" title="Choose">
                                 <option>Yes</option>
                                 <option>No</option>
                                      </select>
                                </div>
                              </div>


                              <div class="col-md-3">
                              <div class="form-group">
                                <label class="mb-0">Cab</label>
                               <select class="selectpicker form-control" title="Choose">
                               <option>Yes</option>
                               <option>No</option>
                                    </select>
                              </div>
                            </div>
                            
                          
             
     
                        
                           
                             
                                   <div class="col-md-3">
                                    <div class="form-group">
                                      <label class="mb-0">Weekoff Policy</label>
                                      <select class="selectpicker form-control" title="Choose">
                                            <option>Fri-Sat</option>
                                            <option>Sat-Sun</option>
                                          </select>
                                    </div>
                                  </div>
                            

                            </div>
                              <ul class="list-inline mt-4">
                                 	<li class="list-inline-item">
                                 		<button class="btn btn-secondary">Save for later</button>
                                 	</li>
                                 	<li class="list-inline-item">
                                 		<button class="btn btn-primary">Submit</button>
                                 	</li>
                                 </ul>
                          </div>

                        </div>
                      </div>
                       
                    </div>
                  </div>
                </div>


            
          </div>





    </div>
    <!-- Education Modal -->
    <div class="modal fade" id="AddEducation" tabindex="-1" role="dialog" aria-labelledby="ApplyLeave" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-graduation-cap"></i> Add Education</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="la la-times"></i>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                 <div class="col-sm-6">
                  <div class="form-group">
                    <label>Course Title</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                 <div class="col-sm-6">
                  <div class="form-group">
                    <label>University</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>From</label>
                    <input type="text" data-provide='datepicker' class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>To</label>
                     <input type="text" data-provide='datepicker' class="form-control">
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Certificates</label>

                       <div class="input-group file-upload">
                          <label class="input-group-btn">
                              <span class="btn btn-light">
                                   <i class="la la-cloud-upload"></i> Upload <input type="file" style="display: none;" multiple>
                              </span>
                          </label>
                          <input type="text" class="form-control" readonly>
                      </div>
                      <em class="help-block">Upload multiple documents if any</em>

                  </div>
                </div>
                <div class="col-sm-12">
                 <div class="form-group">
                    <label>Certificate #</label>
                     <input type="text" class="form-control">
                  </div>
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          </div>

        </div>
      </div>
    </div>

        <!-- Employment Modal -->
    <div class="modal fade" id="AddEmployment" tabindex="-1" role="dialog" aria-labelledby="ApplyLeave" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><i class="la la-graduation-cap"></i> Add Employment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="la la-times"></i>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                 <div class="col-sm-6">
                  <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                 <div class="col-sm-6">
                  <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>From</label>
                    <input type="text" data-provide='datepicker' class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>To</label>
                     <input type="text" data-provide='datepicker' class="form-control">
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Employment Letter</label>

                       <div class="input-group file-upload">
                          <label class="input-group-btn">
                              <span class="btn btn-light">
                                   <i class="la la-cloud-upload"></i> Upload <input type="file" style="display: none;" multiple>
                              </span>
                          </label>
                          <input type="text" class="form-control" readonly>
                      </div>
                      <em class="help-block">Upload multiple documents if any</em>

                  </div>
                </div>
                <div class="col-sm-12">
                 <div class="form-group">
                    <label>Employment #</label>
                     <input type="text" class="form-control">
                  </div>
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>
